Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

._*
*~

*.obj
*.o
*.so
*.d
*.class
*.log
*.tlog

Debug/
libs/
obj/
.vs/


# external references:

/cvclient/include/osa/
/cvclient/include/cvd/

/cvdaemon/include/dscv/
/cvdaemon/include/face/
/cvdaemon/include/mio/
/cvdaemon/include/osa/

/dscv/include/osa/

/face/include/dscv/
/face/include/osa/

/mediac/include/dscv/
/mediac/include/mediad/
/mediac/include/mio/
/mediac/include/osa/

/mediad/include/dscv/
/mediad/include/mio/
/mediad/include/osa/

/mio/include/dscv/
/mio/include/osa/